@page "/top"

<div class="mt-3 container-fluid">
	<div class="mx-auto col-md-7">
		<div>
			<h3>Top APIs from @((NuGetSource?.Size ?? 0).ToString("N0")) Packages on NuGet.org</h3>
			<table class="statistics-table table table-sm">
				<tbody>
				<tr>
					<th>Rank</th>
					<th>Kind</th>
					<th>Name</th>
					<th>Usage</th>
				</tr>
				@foreach (var (rank, api, hitCount) in GetData())
				{
					<tr>
						<td>@rank</td>
						<td>@api.Kind.GetGlyph()</td>
						<td><a href="/catalog/@api.Guid.ToString("N")">@string.Join(".", api.AncestorsAndSelf().Reverse().Select(i => i.Name))</a></td>
						<td>@hitCount (@(((float)hitCount / NuGetSource!.Size).ToString("P4")))</td>
					</tr>
				}
				</tbody>
			</table>
		</div>
	</div>
</div>